xsd/restaurants.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="qualified" elementFormDefault="qualified" targetNamespace="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="restaurants_list">
        <sequence>
            <element name="restaurants" type="tns:restaurant" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <element name="restaurants_list" type="tns:restaurants_list">
    </element>
    <complexType name="restaurant">
        <sequence>
            <element name="rid" type="integer" minOccurs="1" />
            <element name="name" type="string" minOccurs="1" />
            <element name="phone" type="integer" minOccurs="1" />
            <element name="streetunit" type="string" minOccurs="1" />
            <element name="postal" type="integer" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="restaurant" type="tns:restaurant" />
    <complexType name="menu">
        <sequence>
            <element name="rid" type="integer" minOccurs="1" />
            <element name="fid" type="integer" minOccurs="1" />
            <element name="name" type="string" minOccurs="1" />
            <element name="unit_price" type="float" minOccurs="1" />
            <element name="category" type="string" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>
    <element name="menu" type="tns:menu" />
</schema>