xsd/tele_message.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="qualified" elementFormDefault="qualified" targetNamespace="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="message">
        <sequence>
            <element name="chat_id" type="string" />
            <element name="message" type="string" />
        </sequence>
    </complexType>
    <complexType name="messages">
        <sequence>
            <element name="messages" type="tns:message" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <element name="message" type="tns:message"/>
</schema>