xsd/user.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Login">
        <xs:sequence>
            <xs:element name="Status" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Login" type="Login" />
    <xs:complexType name="Notification">
        <xs:sequence>
            <xs:element name="telegramid" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="email" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="hpnumber" type="xs:integer" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Notification" type="Notification" />
</xs:schema>