xsd/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<schema xmlns:tns="qualified" elementFormDefault="qualified" targetNamespace="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Notification">
        <sequence>
            <element name="telegramid" type="integer" minOccurs="1" />
            <element name="email" type="string" minOccurs="1" />
            <element name="hpnumber" type="integer" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="Notification" type="tns:Notification" />
    
    <complexType name="Login">
        <sequence>
            <element name="username" type="string" minOccurs="1" />
            <element name="fullname" type="string" minOccurs="1" />
            <element name="telegramid" type="integer" minOccurs="1" />
            <element name="email" type="string" minOccurs="1" />
            <element name="hpnumber" type="integer" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="Login" type="tns:Login" />

</schema>